/* make the customizations */
$primary: hsl(134, 71%, 32%);
$secondary: #242429;
$dark: #000000;
$light: #cfcfcf;
$danger: #CC2B2B;
$success: #3BD55A;
$warning: #FDA228;


$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "light": $light,
  "danger": $danger,
  "success": $success,
  "warning": $warning
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

html {}

html,
body {}

body {
  font-family: "Gilroy";
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  background-color: #fff;
  position: relative;

  @media (max-height:767px) {
    font-size: 14px;
  }
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ====== Heading and Paragraph ====== */
h1,
h2 {
  font-family: inherit;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: $secondary;
}

h1 {
  font-size: 44px;
  letter-spacing: -0.84px;
  line-height: normal;
}

.h1 {
  font-size: 44px;
  letter-spacing: -0.84px;
  line-height: normal;
}

h2 {
  line-height: normal;
  letter-spacing: -0.3px;
  font-size: 36px;
}

.h2 {
  line-height: normal;
  letter-spacing: -0.3px;
  font-size: 36px;
}

h3 {
  line-height: normal;
  letter-spacing: -0.42px;
  font-size: 28px;

  @media (max-width:767px) {
    font-size: 24px;
  }
}

.h3 {
  line-height: normal;
  letter-spacing: -0.42px;
  font-size: 28px;

  @media (max-width:767px) {
    font-size: 24px;
  }
}

h4 {
  line-height: normal;
  letter-spacing: -0.27px;
  font-size: 22px;

  @media (max-width:767px) {
    font-size: 18px;
  }
}

.h4 {
  line-height: normal;
  letter-spacing: -0.27px;
  font-size: 22px;
  font-weight: bold;

  @media (max-width:767px) {
    font-size: 18px;
  }
}

h5 {
  line-height: normal;
  letter-spacing: -0.27px;
  font-size: 18px;
}

.h5 {
  line-height: normal;
  letter-spacing: -0.27px;
  font-size: 18px;
}

p {
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: -0.1px;
}

/* ====== /Heading and Paragraph ====== */

.text-under-line {
  text-decoration: underline;
}

.text-bottom-line {
  text-decoration: underline;
}

/* ====== Shadow ====== */
.box-shadow {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.13) !important;
}

/* ====== /Shadow ====== */


/* ======== Border Radius ========*/

.rounded-top-0 {
  border-top-left-radius: 0 !important;
}

.rounded-right-0 {
  border-top-right-radius: 0 !important;
}

.rounded-bottom-0 {
  border-bottom-right-radius: 0 !important;
}

.rounded-left-0 {
  border-bottom-left-radius: 0 !important;
}

/* ======== /Border Radius ========*/

/* ============ /Font Sizes ============ */
.fs-1 {
  font-size: 1.7em !important;
}

.fs-2 {
  font-size: 1.5rem !important;
}

.fs-3 {
  font-size: 1.4rem !important;
}

.fs-4 {
  font-size: 1.3rem !important;
}

.fs-5 {
  font-size: 1.2rem !important;
}

.fs-6 {
  font-size: 0.85rem !important;
}

/* ============ Font Sizes ============ */

.cursor-pointer {
  cursor: pointer;
}

/* ============ Global Forms  ============ */
.form-floating {
  >.form-control {
    height: auto;
    padding: 0.75rem 0.75rem;

    &:focus {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;

      ~label {
        transform: scale(0.9rem) translateY(-0.5rem) translateX(0.15rem) !important;
      }
    }

    &:not(:placeholder-shown) {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;

      ~label {
        transform: scale(0.9rem) translateY(-0.5rem) translateX(0.15rem) !important;
      }
    }
  }

  >label {}
}

.img {
  width: 50px;
  height: 46px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  border-width: 0;
  justify-content: center;
  border: solid 1px #5c5c5c;
  border-width: 1px 0px 1px 1px;
  border-radius: 4px 0px 0px 4px;
  background: #FFF;

  @media (max-width:767px) {
    height: 46px;
  }
}

/* ========== Buttton ========== */
.btn-lg {
  font-size: 16px;
  min-width: 226px;
  padding: 11px 20px 9px;
  letter-spacing: -0.27px;

  @media (max-width:767px) {
    font-size: 14px;
    font-weight: 500 !important;
  }
}

/* ========== /Buttton ========== */


.btn-md {
  min-width: 157px;
  font-weight: bold;
  padding: 8px 20px 6px;
  letter-spacing: -0.27px;

  @media (max-width:767px) {
    padding: 8px 20px 6px;
    font-size: 14px;
  }
}

.btn-sm {
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  padding: 9px 20px 7px;
  letter-spacing: -0.27px;
  border: 0;
}

.btn {

  &.btn-left-icon {
    position: relative;
    padding: 8px 30px 6px;

    i {
      position: absolute;
      margin: -2px 0 0px -10px;
    }

    span {
      margin-left: 15px;
    }
  }
}

.btn-green {
  background-color: var(--action-green);
  color: var(--black);
  border: 0;
  color: var(--dark-grey);

  &:hover {
    background-color: var(--greenish);
  }

  &:focus {
    border: 0;
    outline: none;
    box-shadow: none;
    background-color: var(--greenish) !important;
  }

  &:active {
    border: 0;
    outline: none;
    box-shadow: none;
    background-color: var(--greenish) !important;
  }
}

.btn-gray {
  background-color: #242529;
  color: #FFF;

  &:hover {
    background-color: var(--brownish-grey);
  }
}

.btn-back {
  background-image: url('/companies/images/chevron-left.png');
  background-repeat: no-repeat;
  background-position: left center;
  letter-spacing: -0.27px;
  text-align: center;
  color: var(--black);
  font-size: 14px;
  font-weight: bold;
  background-size: 24px;
  padding: 0 26px;
  min-width: 32px;
  line-height: 18px;
  background-color: transparent;

  &:focus,
  &:hover {
    background-color: transparent;
    color: var(--black);
    outline: none;
    border: 0;
  }
}

.btn-outline-dark {
  border: 1px solid #343a40;

}